/* Basic HTML Tags */
body {
  background-color: rgb(34,55,66);
}

.area-expertice{
  margin: auto;
}
.h2-area {
  margin-top: 30px;
}

/* Navigation Bar */

#logo {
  font-family: 'Raleway', sans-serif;  font-size: 3rem;  line-height: 1.5;
  color: rgb(89,111,131);
}

.middle-section {
  margin: auto;
  text-align: center;
}

.sub-heading {
  margin-bottom: 30px;
}

.title {
  font-family: 'Marck Script', cursive;
  font-size: 3.5rem;
  margin: 30px auto 12px auto;
}

.alberta {
  border-radius: 100px;
}

.medphys {
  width:280px;
}

.electrical {
  width:280px;
}

/* Footer */

.footer {
  margin: 0;
  text-align: center;
}
